.badge{
     width: 100%;
     height: 360px;
     background-color: red;
     border-radius: 15px;
     border: 2px solid red;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

 }
.badge header{
    text-align: center;
}

.badge main{
    background-color: #ffffff;
    height: 190px;
    text-align: center;
    padding: 10px 0 10px 0;

}

.badge main h3{
    font-size: 4em;
    font-family: cursive;
    color: black;
}